<h1>Pantry Pilot</h1>

<img src="https://www.realsimple.com/thmb/TQPhL9GrDM4-LuTBQQPSq9d7oyo=/750x0/filters:no_upscale():max_bytes(150000):strip_icc():format(webp)/how-to-organize-pantry-e6f98662eed64700a7a39c11fec696c8.jpg">

<%= button_to "Create an Account", "/register", method: :get %>