@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons';

body {
  margin: 0;
  margin-top: 300px;
  padding: 0;
  background-color: #a0c8a4;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #000000; 
}
body.login {
  margin: 0;
  padding: 0;
  background: url('background.jpg');
  background-size: cover;
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #fff;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #46584a;
  padding: 20px;
  text-align: center;
  font-size: 35px;
  color: #dbdfba;
}

img.logo {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 20%; /* Adjust the width as needed */
  height: auto;
}
.my-form {
  margin: 0;
  margin-top: 200px;
  padding: 0;
  background-color: #a0c8a4; /* Your desired background color */
  font-family: 'Pacifico', cursive;
  text-align: center;
  color: #000000; /* Your desired text color */
}

h1 {
  font-size: 36px;
}
p {
  font-size: 24px;
}
